<section id="visual">
  <div class="img">
    <img src="../../public/images/vis1.jpg" alt="visual">
    <img src="../../public/images/vis2.jpg" alt="visual">
    <img src="../../public/images/vis3.jpg" alt="visual">
  </div>

  <div class="container-full">
    <div id="visual_pager">
      <a class="selected" href="#" onclick="visual_change(1);">위대한 기업에 장기투자</a>
      <a href="#" onclick="visual_change(2);">Middle-down Approach</a>
      <a href="#" onclick="visual_change(3);">자산운용전문 투자자문회사</a>
    </div>
  </div>
</section>